/* === FIGURES ================================================== */

/* slika na sredino */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* napis slike */
.figure-caption {
  text-align: center;
  font-size: 0.9em;
  font-style: italic;
  margin-top: 0.4em;
  margin-bottom: 1em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/* === TABLES =================================================== */

/* tabela na sredino */
.table-wrapper {
  display: flex;
  justify-content: center;
}

/* napis tabele */
.table-caption {
  text-align: center;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 0.4em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/* === EQUATIONS =================================================== */

.equation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em 0;
}

.equation-wrapper .MathJax {
  margin: 0 auto;
}

.equation-number {
  font-size: 0.9em;
  font-style: italic;
  white-space: nowrap;
  margin-left: 1em;
}
